<div id="good">
 I'm the good partial
 <div>Things I like
     <ul>
         <li class="item" style="background-color: {{color}}; color: white;">
           {{color}}
         </li>
         <li>
           {{settings.food}}
         </li>
         <li>Puppies</li>
         <li>Charity</li>
     </ul>
 </div>

 <div>Things I dislike
     <ul>
         <li>Bad Men</li>
         <li>Pain</li>
         <li>Suffering</li>
         <li>Anger</li>
     </ul>
 </div>
