  <div class="row">
    {{#if imageSize}}
    <div class="text-center">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/0e/1c/10/0e1c100908962a43f711d0e2caca3a0c.gif" style="width: {{imageSize}}px">
    </div>
    {{/if}}

    <div class="col-xs-6 margin-top">
      <div>Things I like
        <ul>
          {{#if settings.color}}
          <li>
            {{settings.color}}
          </li>
          {{/if}}
          {{#if settings.food}}
          <li>
            {{settings.adjective}} {{settings.food}}
          </li>
          {{/if}}
          <li>Puppies</li>
          <li>Charity</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-6 margin-top">
      <div>Things I dislike
        <ul>
          <li>Bad Men</li>
          <li>Pain</li>
          <li>Suffering</li>
          <li>Anger</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Biography</h2>
    <p>I'm a good person and I like life.</p>
  </div>

</div>
